POSTGRES_PORT=
BACK_PORT=
FRONT_PORT=

DB_NAME=

// ATTENTION vous devez placer votre IP MACHINE dans ${BACK_HOST}
// pour la recuperer MACOS: ipconfig getifaddr en1 
BACK_HOST=

API=http://${BACK_HOST}:${BACK_PORT}/

POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DB=

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}"
FRONT_URL="http://${BACK_HOST}:${FRONTEND_PORT}/"

JWT_SECRET=
HASH_SALT_ROUND=

// RECUPERATION SUR L'INTRA POUR AVOIR VOTRE CLEF TRANSENDANCE ou DEMANDER A MAXIME
API_UID42=
API_SECRET42=

API_AUTH_URL="https://api.intra.42.fr/oauth/authorize"
API_TOKEN_URL="https://api.intra.42.fr/oauth/token"
RED_URI="http://${BACK_HOST}:${BACK_PORT}/auth/callback"