POSTGRES_PORT=
BACKEND_PORT=
FRONTEND_PORT=

DB_NAME=

BACK_HOST=

API=http://${BACK_HOST}:${BACKEND_PORT}/

POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DB=

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}"
FRONT_URL="http://${BACK_HOST}:${FRONTEND_PORT}/"

JWT_SECRET=
HASH_SALT_ROUND=